/* Body styling. */
body {
	background-color: black ;
	width: 89% ;
	margin-left: auto ;
	margin-right: auto ;
	border-left: 5px solid white ;
	border-right: 5px solid white ;
	padding-left: 5px ;
	padding-right: 5px ;
}


/* Centered circle headshot. */
.headshot {
	display: block ;
	margin-left: auto ;
	margin-right: auto ;
	width: 270px ;
	border-radius: 50% ;
}

/* All white text. */
h1, h2, h3, p, ol, ul, a {
	color: white ;
}

/* Header text styling. */
h1, h2, h3 {
	text-align: center ;
	text-decoration: none ;
}

h1, h2  {
	font-family: Courier New, monospace ;
}

h1 {
	font-size: 55px ;
}

h2 {
	font-size: 34px ;
}

h3 {
	font-family: Arial, sans-serif ;
	font-size: 21px ;
	padding: auto 5% ;
}

/* Non-header text styling. */
p, ol, ul {
	font-family: Arial, sans-serif ;
	font-size: 13px ;
}

/* Article margins. */
article {
	margin-left: 17% ;
	margin-right: 17% ;
}

/* Link styling with pseudoclasses. */
a:link {color: white;}
a:visited {color: lightgray;}
a:hover {color: green;}
a:active {color: lightgreen;}

a {
	font-style: strong ;
}

/* Contact section styling. */
div {
	text-align: center ;
}

article div a {
	font-family: Courier New, monospace ;
	margin: 17px 34px;
}

/* HR styling. */
hr {
	width: 89% ;
}

/* Footer styling. */
footer {
	text-align: center ;
	padding: 5%
}
