/* Body styling. */
body {
	background-color: black ;
	width: 89%
	border-right: 3px solid white
	padding-right: 5px
}


/* Here I’ve made my picture into a circle. */
img {
	width: 540px
	border radius: 50% ;
}

/* All white text. */
h1, h2, h3, p, ol, ul {
	color: white ;
}

/* Header text styling. */
h1, h2  {
	font-family: Courier New, monospace ;
	font-style: strong ;
	text-align: center ;
}

h1 {
	font-size: 55px ;
}

h2 {
	font-size: 34px ;
}

h3 {
	font-size: 21px ;
}

/* Non-header text styling. */
p, ol, ul {
	font-family: Garamond, serif ;
	font-size: 13px ;
}

/* Footer styling. */
footer {
	text-align: center ;
)

/* Class for contact buttons. */
.contact-button {
	padding: 21px, 34px ;
	border: 3px solid white ;
	border-radius: 34% ;
}

/* Link styling, with pseudoclasses. */
a  {
	text-decoration: strong ;
}

a: link {color: white;}
a: visited {color: lightgray;}
a: hover {color: green;}
a: active {color: green; text-decoration: underline;}
